.section-2{
  background-color: #FFFBEB;
}

.custom-container {
  transition: transform 0.2s; /* Transition effect for hover */
  color: black; /* Text color */
}

.custom-container:hover {
  transform: scale(1.05); /* Scale up the container on hover */
}

.img-fluid {
  width: auto; /* Responsive image width */
  /* The class 'img-fluid' will make the image responsive to its container */
}
