/* homePageSection1.css */

/* Customize "Sign up now" button */
.container .custom-signup-btn,
.container.custom-signup-btn:hover {
    border: 2px solid #5a2e16;
    color: #5a2e16;
    background-color: transparent;
}

.section-1 {
    background-color: #FFFBEB;
}

/* Customize "Watch Demo" button */
.container .custom-watch-btn,
.container.custom-watch-btn:hover {
    background-color: transparent;
    color: #5a2e16;
    border: 2px solid transparent;
}

/* Custom title styling */
.custom-title {
    font-size: 3.5rem;
    /* Daha büyük yazı boyutu */
}

/* Make image responsive and set fixed width */
.img-fluid {
    width: 400px;
}